@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

@import "modules/header";
@import "modules/footer";
@import "modules/sidebar";
@import "modules/button";
@import "modules/popup";
@import "modules/checkbox";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $backgroundColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mainColor
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
  text-decoration: none;
  color: $mainColor;
  transition: all 0.25s;
  cursor: pointer;

  &:hover {
    color: $secondColor;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.index-page {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: $backgroundColor;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $lgDesktopWidth;
  display: flex;
  @media screen and (max-width: $lgDesktopWidth) {
    max-width: $desktopWidth;
  }
  @media screen and (max-width: $desktopWidth) {
    max-width: $smDesktopWidth;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.container.center {
  justify-content: center;
}

.burger {
  height: 36px;
  position: absolute;
  top: 32%;
  left: 0;
  cursor: pointer;
}

.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  position: relative;
  cursor: pointer;

  &__input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__text {
    height: 100%;
    width: 60%;
  }

  &__button {
    padding: 5px 20px;
    height: 100%;
    width: 40%;
  }
}