@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

@import "modules/header";
@import "modules/footer";
@import "modules/sidebar";
@import "modules/popup";

@import "shared/button.scss";
@import "shared/card.scss";
@import "shared/cards.scss";
@import "shared/checkbox.scss";
@import "shared/field.scss";
@import "shared/upload.scss";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $backgroundColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mainColor
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 { font-size: 36px; }

h2 { font-size: 24px; }


a {
  text-decoration: none;
  color: $mainColor;
  transition: all 0.25s;
  cursor: pointer;

  &:hover {
    color: $secondColor;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
}

.index-page {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: $backgroundColor;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
}

.input {
  min-height: 30px;
}

@include breakpoint-and-smaller(desktop) {
  section, .section {
    padding: 30px 0;
  }

  .container {
    max-width: 95%;
  }
}

@include breakpoint-and-smaller(mobile) {
  h1 { font-size: 24px; }

  h2 { font-size: 20px; }

  section, .section {
    padding: 20px 0;
  }

  .container {
    max-width: 100%;
  }

  .upload {
    &__button {
      padding: 2px 5px;
    }
  }

  .input {
    font-size: 14px
  }
}
