// button style

.button {
  padding: 20px 80px;
  color: $mainColor;
  border: 1px solid $mainColor;
  background-color: $backgroundColor;
  cursor: pointer;
  transition: all 0.25s;
  width: fit-content;

  &-small {
    padding: 10px 30px;
  }

  &:hover {
    color: $secondColor;
    border-color: $secondColor;
  }

  &:disabled {
    color: #404040;
    border-color: #404040;
    cursor: default;
  }

  @include breakpoint-and-smaller(mobile) {
    padding: 10px 40px;
    font-size: 14px;

    &-small {
      padding: 5px 10px;
    }
  }
}
