.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1;        /* fallback */
    max-height: 2; 
  }

  &__title, &__text {
    margin: 15px 0;
  }
}

@include breakpoint-and-smaller(tablet) {
  .card {
    &__text {
      font-size: 12px;
    }
  }
}