extends ../layout/main

block variables
  - var title = 'Test task';
  - var description = 'Frontend test task';
  - var pageClass = 'index-page';

block content
  section
    .container.center
      button.button(data-open-popup="new_item") Add item
