// header style

.header {
  width: 100%;
  padding: 20px 0;
  background-color: $backgroundColor;
  border-bottom: 1px solid $mainColor;
  max-height: 140px;
  height: 100%;
  position: sticky;
  z-index: 1;
  top: 0;

  &__container {
    height: inherit;
    margin: 0 30px;
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.burger {
  height: 36px;
  position: absolute;
  top: 32%;
  left: 0;
  cursor: pointer;
}

@include breakpoint-and-smaller(laptop) {
  .header {
    max-height: 120px;
  }
  .logo {
    max-height: 80px;
  }
}

@include breakpoint-and-smaller(mobile) {
  .header {
    padding: 10px 0;
    max-height: 80px;

    &__container {
      margin: 0 15px;
    }
  }
  .burger {
    height: 24px;
  }
  .logo {
    max-height: 60px;
  }
}
